.blue-line {
  background-color: blue;
}

.background-col {
  background-color: #1a0436;
  transition: margin 0.2s ease;
}

.header__link {
  text-decoration: none;
  border: 1px solid white;
}

.header__link:hover .blue-line {
  width: 4px;
}

.header__link:hover .background-col {
  background-color: #382450;
  margin-left: 0.5rem;
  transition: margin 0.2s ease;
}

.header__link__active {
  background-color: red;
}
