.unprotected-header {
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 1s ease-in-out;
  transition-duration: 1s;
  position: relative;
}


.anchor {
  text-decoration: none;
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
}

.anchor:hover {
  background: linear-gradient(to right, #6311CB, #8F40FB);
  color: white;
}



.active-link {
  background: linear-gradient(45deg, #6311cb, #c33fad) !important;
  color: white !important;
}
