.unprotected-homePage {
  overflow-x: hidden;
  z-index: 10;
  position: relative;
}

.dashboard-img {
  width: 80%;
  height: auto;
}

.app-prototype-img {
  width: 80%;
  height: auto;
  filter: blur(2px);
}

.iphonemockup-img {
  height: 92%;
  position: absolute;
  left: 0;
  z-index: 40;
}
