:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scrollbar-color: #5e0fcd #f0f0f0;
  scrollbar-width: thin;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

img {
  -webkit-object-fit: cover;
  object-fit: cover;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #5e0fcd 0%,
    #c942ab 70.1%,
    #3725ea 126.66%
  );
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
